
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<div class="container">
    <h1> VİZYON</h1>
    <p>
        Sanal platformda kullanıcılarına çağın gerektirdiği alt yapıyı hazırlayarak kaliteli bir sohbet ortamını yaratmak. Bu altyapı ile alanında kendini Türkiye’ de 1. Sıralara taşıyarak chat ve sohbet ortamında kendini ispatlamış bir kurum olmaktır.
    </p>
    <h1>MİSYON</h1> 
    <p>
        Platformumuza giren her üyemizin aktif katılımını sağlayarak eşsiz ve eğlenceli bir sohbet ortamına dahil etmek. Üyelerimizin keyifli bir sohbet içinde hem oyun kanallarımızla yarışmalarla hem de sohbet kanallarımızda arkadaşlık ve dostluklarla pekiştirilmiş güvenli bir sohbet ortamını yaratarak alanında tek tercih edilen sohbet platformu olmaktır.
    </p></div>