
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>
<div class="container">
    <p>
        E-Posta:
        taner@mynet.com
    </p>
    <p>
        Telefon: 0542 431 2525
    </p>
    <p>
        Sitede anlık olarak bulunan tüm adminlere ulaşım sağlamak isterseniz lütfen #OperHelp odasına giriş yaparak irtibat kurunuz.
    </p></div>
