@model ModelsView.VMLoginOK
<div class=" align-content-sm-start">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-danger">My Profile</button>
        <button type="button" class="btn btn-danger">Settings</button>
        <button type="button" class="btn btn-danger">
            @Html.ActionLink("LogOut", "Out", new { @class = "btn btn-danger" })
        </button>
    </div>
</div>
<style>
    a {
        color: white;
    }

        a:hover {
            color: white;
        }
</style>