@model Models.Message
<div id="sendComp">
    @using (Html.BeginForm("SendMessage", "Message", FormMethod.Get)) {
    <div class="mb-3" id="noSeen">
        @Html.TextBoxFor(m=>m.RecipientID, new { @id = "id1" })
    </div>  
<div class="mb-3">
    @Html.TextBoxFor(m=>m.MessageContent)
</div>
<div><input type="submit" class="buton btn-info" onclick="sendMessage()" id="send"/></div>
    } </div> 
<script>
    function sendMessage() {
        var btn = document.getElementById("send");
        var txt = document.getElementById("e");
        var div = document.getElementById("messages");
        var id1 = document.getElementById("id");
        var id2 = document.getElementById("id1");
        var message = document.createElement("div");
        if (txt.value != "") {
            message.innerText = txt.value;
        message.className = "rightSender";
        txt.value = "";
            div.appendChild(message);
        }
    }
</script>