<div id="sendComp">
<div class="mb-3">
    <textarea class="form-control" id="e" name="msj"  rows="3"></textarea>
</div>
<div><input type="submit" class="buton btn-info" formaction="SendMessage" onclick="sendMessage()" id="send"/></div>
    </div>
<script>
    function sendMessage() {
        var btn = document.getElementById("send");
        var txt = document.getElementById("e");
        var div = document.getElementById("messages");
        var id1 = document.getElementById("id");
        var id2 = document.getElementById("id1");
            var message = document.createElement("div");
            message.innerText = txt.value;
            message.className = "rightSender";
        div.appendChild(message);
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {

            }
        };
        xhr.open("GET", "api/Messages/", true);
        xhr.send();
    }
</script>